form{
	margin-left:80px;
	margin-top:20px;
}
#menu{
	margin-left:3.79rem;
	
}
.url{
	width:400px;
	margin-left:2.01rem;
	margin-top:27px;
}
#reset{
	margin-left:2.60rem;
	margin-top:40px;
}
#show_msg{
	margin-left:80px;
	margin-top:90px;
}